
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

.parent {
    position:relative;
    width: 100%;

}

.parent .logo {
    position:absolute;
    top: 10%;
    left: 5%;
    margin: -50px 0 0 -50px;
    width: 150px;
    height: 150px;
    }

.parent .img1 {
    width: 100%;
    height: auto;
}

.parent .btn {
    position: absolute;
    top:30%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #051d40;
    color:  white;
    font-size: 20px;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.parent .btn:hover {
    background-color: #6cb6e5  ;
    color: #051d40 ;
}


.Ultimate {
    position: absolute;
    top: 10px;
    left: 350px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 40px;
    color: #051d40;
/* text-transform: uppercase;
    text-align: center;*/
}
.text {
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    position: absolute;
    top: end;
    left: 200px;
}


.navigation {
    list-style: none;
    background: #051d40;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    
}
.nav-item:hower {
    color: white;
}
.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color:#051d40;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    padding: 1em;
    background-image: linear-gradient(135deg, 
    #051d40(254,255,255) 0%,
    #051d40(196, 65%, 93%) 55%,
    rgb(160,216,239) 100%);
    background-size: 300%;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}


label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
    /*background-image:  
    url(svg>");*/ 
    background-size: contain;
    
}

.box-shadow-menu {
    position: relative;
    padding-left: 2em;
    
}
.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0.5em;
    top: 0.20em;
    width: 2em;
    height: 0.15em;
    background: white;
    box-shadow: 
    0 0.25em 0 0  white,
    0 0.5em 0 0 white;
    
}
.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px #051d40;
}

.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}


body {
    overflow-x: hidden;
}

